<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/phaser-ce@2.12.0/build/phaser.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/register.js') }}" ></script>

    <meta charset="UTF-8">
    <title>Login page</title>
</head>

<body>
    <div id="inputBox">
        <font size="5"> Enter your name to register then click start game: </font> <br> <br>
        <textarea rows="1" cols="20" id="playerID" onKeyPress="checkEnter(event);"> </textarea> <br> <br>
        <button type='button' class='block' onClick="registerPlayer();" > Submit </button> <br> <br>
    </div>

    <a href="/game" title="start">Start Game</a>
</body>
</html>